.carousel {
  position: absolute;
  height: 150px;
  width: 1000px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main {
    position: absolute;
    overflow: hidden;
    border: 1px solid gray;
    width: 1000px;

    ul {
      position: relative;
      width: 9000px;
      left: 0;

      li {
        list-style: none;
        height: 150px;
        width: 200px;
        float: left;
        border: 1px solid black;
        text-align: center;
      }
    }
  }

  .left,
  .right {
    position: absolute;
    height: 100%;
    top: 0;
    cursor: pointer;
    background-color: gray;
    width: 20px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
